@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100vh;

  /* background-image: url("shreetik.jpg");
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-size: 100%; */
}
.first {
  width: 100%;
  height: 100vh;
  background-image: url("shreetik.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  /* background-color: blanchedalmond; */
  background-size: cover;
}
.ham i {
  color: #edf2f4;
  font-size: 2.5rem;
}
.ham i:active {
  color: #00b4d8;
}
.nav {
  width: 100vw;
  height: 8rem;
  /* background-color: antiquewhite; */

  display: flex;
  justify-content: space-around;
  align-items: center;
}
header {
  z-index: 100000;
}

header.sticky {
  position: fixed;
  background-color: #88888869;
}
.ham {
  display: none;
}
.nav ul li {
  display: inline-block;
}

.bar a {
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #edf2f4;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 0rem 2rem 0rem 2rem;

  position: relative;
}
#active a:before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #00b4d8;
}
.bar a:before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: #00b4d8;
  transition: all 0.2s linear;
}
.bar a:hover:before {
  width: 100%;
}

.logo a {
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
  color: #00b4d8;
  font-weight: bolder;
  /* padding: 8px;
  border: 1px solid #edf2f4;
  border-radius: 5px; */
}
.box2 {
  /* background-color: aquamarine; */
  width: 122.2rem;
  height: 73.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  position: relative;
}
.box1 {
  width: 60rem;
  height: 21.5rem;
  /* background-color: #edf2f4; */
  font-size: calc(1rem + 1vw);
}
.box1 h1 {
  font-family: "Lato", sans-serif;
  font-size: 5rem;

  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 5.9rem;
  color: #edf2f4;
}
#hi {
  font-size: 7rem;
  color: #00b4d8;
  margin-bottom: 1.3rem;
  font-weight: bolder;
}
.con-icon {
  /* background-color: burlywood; */
  width: 12.7rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 78.2rem;
  top: 47.7rem;
}
.con-icon i {
  font-size: 2.2rem;
  color: #00b4d8;
  cursor: pointer;
}
.con-icon i:hover {
  color: #edf2f4;
}

.min-bar {
  background-color: rgba(80, 88, 88, 0.253);
  z-index: 100;
  height: 0rem;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* left: 5rem; */
  top: 6.7rem;
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.5s;
}
.min-bar {
  position: fixed;
}
.min-bar ul li {
  list-style: none;
}
.min-bar ul li a {
  line-height: 3.5rem;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #edf2f4;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}
.min-bar ul li a:active {
  color: #00b4d8;
}
.second {
  width: 100vw;
  height: 100vh;
  background-color: #f1f5f2;
}
.con {
  /* background-color: cornflowerblue; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading {
  position: relative;
  top: 8rem;
  /* background-color: bisque; */
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading h1 {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  font-weight: lighter;
}

.img-cap {
  /* background-color: blueviolet; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.profile-pic {
  /* background-color: darkgrey; */
  width: 50rem;
  height: 50rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-pic img {
  width: 40rem;
  height: 48rem;
  box-shadow: 10px 10px 31px #888888;
}
.bio {
  /* background-color: aquamarine; */
  width: 78rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem 0rem 3rem;
}
.bio p {
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
  text-align: ;
}

@media only screen and (max-width: 480px) {
  /* html {
    font-size: 10px;
  } */

  .ham {
    display: inline-block;
  }

  .bar {
    display: none;
  }
  .first {
    background-size: cover;
  }
  .nav {
    height: 6.7rem;
  }
  .logo a {
    font-size: 2rem;
  }
  .box2 {
    width: 39.7rem;
    height: 50.1rem;
  }
  .box1 {
    width: 34.5rem;
    height: 12.4rem;
  }
  #hi {
    font-size: 4rem;
    margin-bottom: 0.6rem;
  }
  .box1 h1 {
    font-size: 2.7rem;
    line-height: 3.6rem;
    word-spacing: 0rem;
  }
  .con-icon {
    right: 25rem;
    top: 31.8rem;
    justify-content: space-around;
  }
  .con-icon i {
    font-size: 1.9rem;
  }

  .profile-pic img {
    width: 26rem;
    height: 31rem;
    margin-top: 8rem;
  }
  .heading {
    margin-top: 8rem;
  }
  .heading h1 {
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    font-weight: lighter;
  }
  .bio {
    padding: 0rem 1.8rem 0rem 4rem;
  }
  .bio p {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: ;
    margin-bottom: 8rem;
  }
}

@media only screen and (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 68%;
  }
}
