@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  width: 100vw;
  height: 100vh;
  /* background-image: url("shreetik.jpg");
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-size: 100%; */
}
.first {
  background-image: url("shreetik.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  /* background-color: blanchedalmond; */
  background-size: cover;
}
.ham i {
  color: #edf2f4;
  font-size: 2.5rem;
}
.ham i:active {
  color: #00b4d8;
}
.nav {
  width: 100vw;
  height: 100px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ham {
  display: none;
}
.nav ul li {
  display: inline-block;
}

.bar a {
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #edf2f4;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 0rem 2rem 0rem 2rem;

  position: relative;
}
.bar a:before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: #00b4d8;
  transition: all 0.2s linear;
}
.bar a:hover:before {
  width: 100%;
}

.logo a {
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #00b4d8;
  font-weight: bolder;
  /* padding: 8px;
  border: 1px solid #edf2f4;
  border-radius: 5px; */
}
.box2 {
  /* background-color: aquamarine; */
  width: 122.2rem;
  height: 73.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.box1 {
  width: 60rem;
  height: 21.5rem;
  /* background-color: #edf2f4; */
}
.box1 h1 {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 5.9rem;
  color: #edf2f4;
}
#hi {
  font-size: 7rem;
  color: #00b4d8;
  margin-bottom: 1.3rem;
  font-weight: bolder;
}
.con-icon {
  /* background-color: burlywood; */
  width: 12.7rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 78.2rem;
  top: 47.7rem;
}
.con-icon i {
  font-size: 2.2rem;
  color: #00b4d8;
  cursor: pointer;
}
.con-icon i:hover {
  color: #edf2f4;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }

  .ham {
    display: inline-block;
  }

  .bar {
    display: none;
  }
  .first {
    background-size: 100% auto;
  }
  /* .nav {
    height: 47px;
  } */
  /* .logo a {
    font-size: 20px;
  } */
  .box2 {
    width: 25.7rem;
    height: 23.1rem;
  } 
  .box1 {
    width: 21.5rem;
    height: 10.4rem;
  } 
  #hi {
    font-size: 4rem;
    margin-bottom: 1rem;
  } 
  .box1 h1 {
    font-size: 2rem;
    line-height: 2.6rem;
  } 
  .con-icon {
    right: 10.9rem;
    top: 16.8rem;
    justify-content: space-around;
  } 
   .con-icon i {
    font-size: 1.9rem;
}

@media only screen and (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
